{
  "version": "2017-02-28",
  "operation": "Invoke",
  "payload": {
    "type": "Mutation",
    "field": "createUserTodos",
    "arguments": $utils.toJson($context.arguments),
    "identity": $utils.toJson($context.identity),
    "source": $utils.toJson($context.source),
    "selectionSetList": $utils.toJson($context.info.selectionSetList),
    "selectionSetGraphQL": $utils.toJson($context.info.selectionSetGraphQL)
  }
}